<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
    <system.webServer>
        <asp scriptErrorSentToBrowser="true" appAllowDebugging="false" />
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true" />
        <httpErrors> 
            <remove statusCode="500" subStatusCode="100" />
            <error statusCode="500" subStatusCode="100" prefixLanguageFilePath="" path="/inc/500-100.asp" responseMode="ExecuteURL" /> 
        </httpErrors> 
    </system.webServer>
</configuration>
